@font-face {
    font-family: "DINProLight";
    src: url("../Fonts/DINPro-Light.otf");
}

.buttonContainer {
    width: 100%;
    align-self: center;
}

.button {
    width: 100%;
    height: 50px;
    background-color: white;
    color: black;
    font-family: DINProMed, sans-serif;
    font-size: 18px;
    border-radius: 15px;
    border: 2px solid black;
    cursor: pointer;
    transition: cubic-bezier(0, .88, 0, 1);
}

/* .button:hover {
    border: 4px solid black;
} */

.button:active {
    background-color: #45A29E;
    color: white;
}
