@font-face {
    font-family: "DINProLight";
    src: url("../Fonts/DINPro-Light.otf");
}

@font-face {
    font-family: "DINProMed";
    src: url("../Fonts/DINPro-Medium.otf");
}

@font-face {
    font-family: "Helvetica";
    src: url("../Fonts/HelveticaNeueCyr-Medium.ttf");
}

@font-face {
    font-family: "HelveticaBold";
    src: url("../Fonts/HelveticaNeueCyr-Bold.woff");
}

