@font-face {
    font-family: "helvetica-bold";
    src: url("../Fonts/HelveticaNeueCyr-Bold.woff");
    font-style: normal;
    font-weight: 100;
}

.headerContainer {
    width: 100%;
    display: flex;
    align-items: center;
}
.header {
    width: 100%;
    margin: 0 10px;
    padding: 10px 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid black;
    box-shadow: 0 4px 2px -2px gray;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav ul li a {
    margin: 5px 15px;
}

.title {
    font-size: 4.5rem;
    font-family: helvetica-bold, sans-serif;
}

.linksContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: helvetica-bold, Arial, sans-serif;
    font-size: 1rem;
}

.link {
    display: block;
    position: relative;
    color: inherit;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

.link:hover {
    text-decoration-color: rgba(0, 0, 0, 1);
}

@media screen and (max-width: 1250px) {
    .title {
        font-size: 4rem;
    }
}
@media screen and (max-width: 1000px) {
    .title {
        font-size: 3rem;
    }

    .linksContainer {
        /* justify-content: center; */
        font-size: 1rem;
    }
}
