.bodyContainer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 1fr;
}

.contentContainer {
    width: 1100px;
    height: 100vh;
    margin: 0;
}

.container {
    min-height: 80vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    width: 100%;
    padding: 2rem 1rem;
    justify-items: stretch;
    align-items: stretch;
}

.textBodyContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.textBody {
    width: 80%;
    font-family: DINProLight, sans-serif;
    font-size: 16px;
}

.textBody h1 {
    font-family: DINProMed, sans-serif;
    margin: 0;
}

.textBody p {
    margin: 0;
    text-align: justify;
    text-justify: inter-cluster;
}

.textBody a {
    color: #1da1f2;
    font-weight: bold;
    text-decoration: none;
}

.gridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

@media screen and (max-width: 1100px) {
    .contentContainer {
        width: 80vw;
    }

    .gridContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 900px) {
    .contentContainer {
        width: 80vw;
    }

    .gridContainer {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .textBody {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .contentContainer {
        width: 80vw;
    }

    .gridContainer {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

@media (max-width: 450px) {
    .main {
        padding: 2rem 0.5rem;
    }
    .textBodyContainer {
        width: 100%;
    }
}
