.button {
    width: 170px;
    white-space: normal;
    word-wrap: break-word;
    height: 50px;
    background-color: #1f2833;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: 0.1s linear;
}

.button:hover {
    background-color: #45a29e;
}

.button:active {
    transform: scale(0.95);
}
